#root {
	max-width: 1280px;
	font-size: 22px;
	margin: 0 auto;
	padding: 2rem;
	font-family: 'Teachers', sans-serif;
}

.tracker {
	$medium: 720px;
	&__user-settings {
		font-family: 'Boogaloo', sans-serif;
	}
	&__row {
		@media screen and (min-width: $medium) {
			display: grid;
			grid-template-columns: max-content 1fr 3fr 0.5fr;
			grid-column-gap: 0.5em;
		}
	}
}
